<!-- logged_out.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Logged Out</title>
    <link rel="stylesheet" href="{% static 'styles/loggedout.css' %}" />
</head>
<body>
    <div class="container">
        <h1>Hey! You logged out</h1>
        <p>Would you like to <a href="{% url 'ihslogin' %}">login back</a>?</p>
    </div>
</body>
</html>
