{% extends 'main.html' %}

{% block title %}HostProject{% endblock %}

{% block content %}


<div id="hostprojectiew">

<h2>Host Project</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group" id="hostProjectForm">
    <label for="projectName">Project Name:</label>
    <input type="text" class="form-control" id="projectName" name="projectName" required>
  </div>

  <div class="form-group">
    <label for="absolutePath">ProjectFolder AbsolutePath:</label>
    <input type="text" class="form-control" id="absolutePath" name="absolutePath" required>
  </div>

  <div class="form-group">
    <label for="chooseRegion">Choose Region:</label>
    <select class="form-control" id="chooseRegion" name="chosenRegion" required>
      <option value="" disabled selected>Select a city</option>
      {% for city in city_names %}
      <option value="{{ city }}">{{ city }}</option>
      {% endfor %}
    </select>
  </div>



  <button type="submit" class="btn btn-primary" 
  onclick="showserverbuilding()">Deploy to IHS</button>

</form>

</div>

<div id="serverbuildingview">
  <div class="container-lg mt-4">
    <div class="jumbotron" style="margin-top: 10%;">
        <div style="display: flex; align-items: center;">
            <div style="flex: 1; margin:0 5%;">
                <h1 class="display-4">Building Your Server</h1>
                <p class="lead">It takes couple of minutes :)</p>
            </div>
            <div style="flex: 1; margin-left: 5%;">
                <iframe src="https://gifer.com/embed/VqrR" 
                width="60%" height="60%" frameBorder="0" allowFullScreen style="border-radius: 5px;"></iframe>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}
